<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <h1>URL Shortner</h1>

    <% if (locals.shortId) { %>
     <p>URL generated: http://localhost:3002/<%= shortId %></p>
    <% } %>

    <form method="post" action="/">
        <label>Enter URL: </label>
        <input type="text" name="url" placeholder="https://example.com">

        <button type="submit">Generate Short URL</button>
    </form>

    <div>
        <% if (locals.urls) { %>
         <table>
            <tr>
                <th>S.No</th>
                <th>Short Id</th>
                <th>Original URL</th>
                <th>Total Clicks</th>
            </tr>
            <% urls.forEach((url, index) => { %>
             <tr>
                <td><%= index + 1 %></td>
                <td><%= url.shortId %></td>
                <td><%= url.url %></td>
                <td><%= url.visitedHistory.length %></td>
             </tr>
            <% }) %>
         </table>
        <% } %>
    </div>
</body>
</html>